<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>img to pdf</title>
</head>
<body>
    <h2>IMG TO PDF CONVERTER</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar">
        <button type="submit">CONVERT</button>
    </form>
</body>
</html>